<div id="react-app" class="block">React app will load here.</div>
<div id="project-stats" class="block">Project stats component will load here.
</div>
<div id="node-list" class="block">Node list component will load here.</div>
<div id="node-interface" class="block">Node interface component will load here.</div>
